<strong>Olá, {{ name }}</strong>
<p>Você enviou uma nova imagem para nossa base de dados: </p>
<p>
  <strong>Imagem: {{ image }}</strong>
  <br />
  <small>
    Você pode conferir a imagem que enviou acessando o nosso sistema.
  </small>
</p>
